alabaster==0.7.16
annotated-types==0.7.0
app-model==0.2.8
appdirs==1.4.4
babel==2.16.0
build==1.2.2
cachey==0.2.1
click==8.1.7
cloudpickle==3.0.0
dask==2024.8.0
docstring_parser==0.16
docutils==0.21.2
flexcache==0.3
flexparser==0.3.1
freetype-py==2.5.1
fsspec==2024.9.0
h5py==3.11.0
HeapDict==1.0.1
hsluv==5.0.4
imageio==2.35.1
imagesize==1.4.1
in-n-out==0.2.1
ipynb==0.5.1
lazy_loader==0.4
locket==1.0.0
magicgui==0.9.1
markdown-it-py==3.0.0
matplotlib==3.9.2
mdurl==0.1.2
napari==0.5.3
napari-console==0.0.9
napari-plugin-engine==0.2.0
napari-svg==0.2.0
networkx==3.2.1
nltools==0.5.1
npe2==0.7.7
numpy==1.23.5
numpydoc==1.8.0
pandas==1.5.3
partd==1.4.2
Pint==0.24.3
ply==3.11
psygnal==0.11.1
pyconify==0.1.6
pydantic==2.9.1
pydantic-compat==0.1.2
pydantic_core==2.23.3
Pygments==2.18.0
pynv==0.3
PyOpenGL==3.1.7
pyproject_hooks==1.1.0
PyQt5==5.15.10
rich==13.8.1
scikit-image==0.24.0
seaborn==0.13.2
shellingham==1.5.4
snowballstemmer==2.2.0
Sphinx==7.4.7
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
superqt==0.6.7
tabulate==0.9.0
tifffile==2024.8.30
tomli_w==1.0.0
toolz==0.12.1
tqdm==4.66.5
typer==0.12.5
vispy==0.14.3
wcwidth==0.2.13
webencodings==0.5.1
wrapt==1.16.0
